{% extends 'main/layout.html'  %}
{% load static %}


{% block title %}
О компании
{% endblock %}
{% block content %}
<div class="features">
        <h1>
            Про нашу компанию
        </h1>
        <p>
            ООО "Центр Хранения Данных" входит в Группу компаний "Ростелеком - Центры обработки данных".
Группа компаний "Ростелеком - Центры обработки данных" - управляющая компания центра компетенций ПАО «Ростелеком» по направлениям развития сервисов и инфраструктуры ЦОД, импортонезависимых облачных платформ, услуг обмена трафиком и CDN.
В настоящее время Ростелеком-ЦОД – крупнейший поставщик услуг дата-центров в России, лидер отрасли по количеству стойко-мест. В перспективе компания планирует занять лидирующие позиции на рынке предоставления полного спектра услуг Iaas, SaaS, Paas.
        </p>
</div>
    <div class="features">
        <a ><img src="{% static 'main/img/ofice_11.jpg' %}" alt="Альтернативный текст" width="900" height="400"></a>


    <form class="features" action="/main_company">
        <button class="btn btn-danger"> Информация
        </button>
        <div class="features">

    <h5>
            Электронная почта: a624713@gmail.com
        </h5>

        <p>
            Так же вы можете обратиться на нашу горячую линию
            +7 (800) 800 80 80
        </p>

        </div>


    </main>
    </form>

    </div>


{% endblock %}