{% extends 'main/layout.html'  %}

{% block title %}
Контакты
{% endblock %}
{% block content %}
<div class="features">
        <h1>
            Контакты компании
        </h1>
        <h5>
          Контактный телефон: +7 (918) 982 24 14
        </h5>
        <h5>
            Электронная почта: a624713@gmail.com
        </h5>
  <p>


  </p>
  <p>
    Так же вы можете обратиться на нашу горячую линию
    +7 (800) 800 80 80
  </p>
    <form class="features" action="/main_company">
        <button class="btn btn-danger"> О компании
        </button>
        <div class="features">

    <h5>
            По вопросам бронирования почта: a624713@gmail.com
        </h5>
            <h5>
            По вопросам профсоюза почта: a624713@gmail.com
        </h5>

        <p>
            Так же вы можете подъехать к нам в офис по адресу
            город Краснодар ул.Энтузиастов офис 77

        </p>

        </div>


    </main>
    </form>

    </div>


{% endblock %}