{% extends 'main/layout.html'  %}
{% load static %}

{% block title %}
<h1> {{title}}</h1>
{% endblock %}

{% block content %}
<div class="features">
    <h1>{{ title }}</h1>
    <p>
        Информация о странице
    </p>
    <button
            class="btn btn-warning"> На страницу про нас
    </button>

    <div class="row">

        <div class="column">

            <p><img src="{% static 'main/img/space.jpg' %}" alt="Альтернативный текст" width="500" height="300"></p>
        </div>

        <div class="column">

            <p><img src="{% static 'main/img/space.jpg' %}" alt="Альтернативный текст" width="500" height="300"></p>

        </div>

        <p>
            Основная часть страницы чаще всего представляет собой сетку из блоков разной ширины. Позиционирование таких
            блоков осуществляется также с помощью свойства float:
        </p>

        <p>
            Основная часть страницы чаще всего представляет собой сетку из блоков разной ширины. Позиционирование таких
            блоков осуществляется также с помощью свойства float:
        </p>
    </div>

    <div class="row">
        <div class="column1">

            <p><img src="{% static 'main/img/space.jpg' %}" alt="Альтернативный текст" width="450" height="300"></p>
        </div>

        <div class="column1">

            <p><img src="{% static 'main/img/space.jpg' %}" alt="Альтернативный текст" width="450" height="300"></p>

        </div>
        <div class="column1">

            <p><img src="{% static 'main/img/space.jpg' %}" alt="Альтернативный текст" width="450" height="300"></p>
        </div>
        <p>
            Основная часть страницы чаще всего представляет собой сетку из блоков разной ширины. Позиционирование таких
            блоков осуществляется также с помощью свойства float:
        </p>
        <p>
            Основная часть страницы чаще всего представляет собой сетку из блоков разной ширины. Позиционирование таких
            блоков осуществляется также с помощью свойства float:
        </p>
        <p>
            Основная часть страницы чаще всего представляет собой сетку из блоков разной ширины. Позиционирование таких
            блоков осуществляется также с помощью свойства float:
        </p>
    </div>

    <div class="row">

        <div class="column">

            <p><img src="{% static 'main/img/space.jpg' %}" alt="Альтернативный текст" width="300" height="250"></p>
        </div>

        <div class="column">

            <p><img src="{% static 'main/img/space.jpg' %}" alt="Альтернативный текст" width="300" height="250"></p>

        </div>

        <p>
            Основная часть страницы чаще всего представляет собой сетку из блоков разной ширины. Позиционирование таких
            блоков осуществляется также с помощью свойства float:
        </p>

        <p>
            Основная часть страницы чаще всего представляет собой сетку из блоков разной ширины. Позиционирование таких
            блоков осуществляется также с помощью свойства float:
        </p>
    </div>


</div>

<div class="color-text">
<p >JavaScript – это мультипарадигменный язык программирования,
    который обычно применяется в качестве встраиваемого инструмента для программного доступа к различным объектам приложений.JavaScript – это мультипарадигменный язык программирования,
    который обычно применяется в качестве встраиваемого инструмента для программного доступа к различным объектам приложений.JavaScript – это мультипарадигменный язык программирования,
    который обычно применяется в качестве встраиваемого инструмента для программного доступа к различным объектам приложений.JavaScript – это мультипарадигменный язык программирования,
    который обычно применяется в качестве встраиваемого инструмента для программного доступа к различным объектам приложений.JavaScript – это мультипарадигменный язык программирования,
    который обычно применяется в качестве встраиваемого инструмента для программного доступа к различным объектам приложений.JavaScript – это мультипарадигменный язык программирования,
    который обычно применяется в качестве встраиваемого инструмента для программного доступа к различным объектам приложений.JavaScript – это мультипарадигменный язык программирования,
    который обычно применяется в качестве встраиваемого инструмента для программного доступа к различным объектам приложений.JavaScript – это мультипарадигменный язык программирования,
    который обычно применяется в качестве встраиваемого инструмента для программного доступа к различным объектам приложений.JavaScript – это мультипарадигменный язык программирования,
    который обычно применяется в качестве встраиваемого инструмента для программного доступа к различным объектам приложений.JavaScript – это мультипарадигменный язык программирования,
    который обычно применяется в качестве встраиваемого инструмента для программного доступа к различным объектам приложений. </p>
</div>
</div>



<div class="color-text">
    <p >HTML (Hypertext Markup Language) - это код, который используется
        для структурирования и отображения веб-страницы и её контента. </p>
    <div class="container">
    <div class="skills html">60%</div>
    </div>
</div>


<div class="color-text">
<p >Cascading Style Sheets «каскадные таблицы стилей») —
    формальный язык декорирования и описания внешнего вида документа (веб-страницы),
    написанного с использованием языка разметки (чаще всего HTML или XHTML).</p>
<div class="container">
  <div class="skills css">30%</div>
</div>
</div>

<div class="color-text">
<p >JavaScript – это мультипарадигменный язык программирования,
    который обычно применяется в качестве встраиваемого инструмента для программного доступа к различным объектам приложений. </p>
<div class="container">
  <div class="skills js">80%</div>
</div>
</div>

<div class="color-text">
<p >PHP (рекурсивный акроним словосочетания PHP: Hypertext Preprocessor )
    - это распространённый язык программирования общего назначения с открытым исходным кодом. </p>
<div class="container">
  <div class="skills php">60%</div>
</div>
</div>
</div>



</divfeatures>
    {% endblock %}