{% extends 'main/layout.html'  %}
{% load static %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}

<div class="features">
<h1> {{ title }} </h1>


    <h4>На данной странице вы можете просматреть список доступных направлений по путевкам. Так же есть возможность зарегестрироваться и забронировать путевку от профсоюза организации ООО Центр Хранения Данных</h4>
    <p>
        Современный ЦОД не имеет границ и не привязан к точке на карте.
        По-настоящему надежный, распределенный и облачный ЦОД должен реализовывать
        потенциал вашего бизнеса в любой точке пространства и времени.
    </p>


        <div class="text-block">
    <style>
            .text-block {
padding: 20px 10px 100px 20px;
}
        </style>
    <p> </p>

             <div class="features">
        <a ><img src="{% static 'main/img/ofice_11.jpg' %}" alt="Альтернативный текст" width="900" height="400"></a>


</div>
            <div class="features7">

            </div>



    <div class="row" >

        <div class="column">

            <a href="https://pansionat-shepsi.ru/"><img src="{% static 'main/img/1_democr.jpg' %}" alt="Альтернативный текст" width="500" height="300"></a>
        </div>

        <div class="column">

            <a href="https://www.matsesta.info/"><img src="{% static 'main/img/2_movenipick.jpg' %}" alt="Альтернативный текст" width="500" height="300"></a>

        </div>
        <div class="column3">
        <p>
         Название - Пансионат «Шепси»
            Цена путевки- 2500 за сутки, Дата начала путевки-19.05.2022 Дата окончания путевки- 30.05.2024
            Расположен на берегу Черного моря, в курортном поселке Шепси, 11 км от г. Туапсе, в экологически чистом районе, прекрасная бухта, с уникальным климатом, нет таких резких погодных изменений, теплее чем в Анапе и не так ветрено, как в Сочи. Пляж галечный, море прозрачное, глубокое. Удобная транспортная развязка: от автовокзала Туапсе ходит автобус, автобусная остановка рядом с пансионатом. На ж/д станции «Шепси»  останавливается электричка «Ласточка»(расписание) до аэропорта Сочи 3 часа, до Лазаревского  40 мин. До Туапсе 12 мин.  </p>
        ПАНСИОНАТ «Шепси» (сезон с апреля по ноябрь)

Номера расположены в корпусе №2. Все с удобствами. В номере ТВ и холодильник. Номера с кондиционером- это категория улучшенных . Люкс двухкомнатный номер.

Проводятся досуговые программы для взрослых отдыхающих: танцы, вокал, мастерилка. Работает экскурсионное бюро и выездная торговля.

Лечебный корпус работает круглосуточно в режиме оказания скорой помощи. В дневное время предоставляется широкий выбор услуг. Можно оформить путевку с лечением санаторного типа не менее 18 дней или курсовку на  14 дней.

Детей до 3-х лет НЕ принимаем! Дети  от 3-х -10 лет  в сопровождении родителей.

Путевка в пансионат “Шепси” включает:
Расчетное время 08.00 утра
        </div>
        <div class="column3">
        <p>
            Название - «Санаторий Мацеста» Цена путевки- 3000 за сутки, Дата начала путевки-18.05.2022 Дата окончания путевки- 31.05.2024
            «Мацеста» — это крупнейший бальнеологический курорт России, расположившийся в городе-курорте Сочи. Сама природа, одарив Сочи уникальным сочетанием субтропического климата, теплого моря, обилия солнца, экзотической растительности, окружения гор и богатства минеральных источников, позаботилась о том, чтобы этот город стал идеальным многопрофильным круглогодичным курортом.

Главным природным лечебным фактором курорта Сочи и нашей бальнеолечебницы является знаменитая мацеста – уникальная сероводородная вода, легенды о целебных свойствах которой слагались веками. Именно поэтому в центре герба Сочи изображена чаша, наполненная огненной водой и символизирующая Мацесту – сердце нашего курорта.

Живая вода Мацесты возвращает людям легкость движения, чистоту кожных покровов, восстанавливает функции сердечно–сосудистой и нервной систем, дарует радость материнства, оказывает омолаживающее воздействие на весь организм.

С момента открытия в 1902 году на Мацесте первой бальнеолечебницы здесь было отпущено свыше 220 миллионов процедур. Среди пациентов Мацесты было немало известных исторических личностей, в том числе И.В. Сталин – неслучайно его дача располагалась в 300 метрах от мацестинской бальнеолечебницы, и его выбор Сочи в качестве столицы советских курортов – признание роли Мацесты как определяющего фактора.

Сейчас бальнеологический курорт «Мацеста» работает круглогодично, в полном объеме реализуя заказ 70 санаторно–курортных предприятий города, оказывая медицинские услуги на основе мацестинских сероводородных, природных йодобромных и радоновых процедур пациентам санаториев, курортникам без санаторных путевок и местным жителям.  </p>
        </div>

    <div class="text-block">
    <style>

            .text-block {
padding: 20px 10px 100px 20px;
}

        </style>
    <p> </p>
</div>

    <div class="row">
        <div class="column1">

            <a href="https://grandhotelanapa.ru/"><img src="{% static 'main/img/3_miracleon.jpg' %}" alt="Альтернативный текст" width="450" height="300"></a>

            </div>
        <div class="column1">
            <a href="https://seagalaxy.com/"><img src="{% static 'main/img/4_lazurnyi-bereg.jpg' %}" alt="Альтернативный текст" width="450" height="300"></a>
        </div>
        <div class="column1">
            <a href="https://adlerkurortsochi.ru/"><img src="{% static 'main/img/5_aqua.jpg' %}" alt="Альтернативный текст" width="450" height="300"></a>
        </div>

    </div>

    <div class="row">
        <div class="column2">
        <p>
          Название - «Гранд Отель» Цена путевки- 2500 за сутки, Дата начала путевки-18.05.2022 Дата окончания путевки- 23.05.2024 Наш отель расположен на первой береговой линии, наполнен светом и прохладой - он открыл двери своим гостям 1 июля 2020 года. Совершенно новый, пятизвездочный отель предлагает своим гостям новый уровень отдыха на Черноморском побережье. Высококлассный сервис, современный интерьер, комфортные и уютные номера. Расположение на первой береговой линии открыло перед нами новые грани преимуществ - собственный оборудованный пляж и менее 100 метров до кромки моря. Уникальный номерной фонд представлен 187 номерами и содержит в себе 4 номера с индивидуальным бассейном. Эти номера имеют площадь 300 квадратных метров.  </p>
        </div>
            <div class="column2">
        <p>
        Название - Отель СГХК. Цена путевки- 2500 за сутки, Дата начала путевки-18.05.2022 Дата окончания путевки- 31.05.2024 Он расположен в центре Сочи, рядом с парком имени Фрунзе и всего в 100 метрах от побережья Черного моря. До центральной части Курортного проспекта — 300 метров. Прогулка до Сочинского дендрария занимает 10 минут. До Летнего театра и Сочинского государственного цирка можно дойти за 3 минуты.

Светлые номера в теплых тонах оснащены кондиционером и оформлены в классическом стиле. Все номера являются гипоаллергенными, в числе удобств телевизор с плоским экраном и кабельными каналами. К услугам гостей собственная ванная комната с душем и балкон с видом на море и горы. В номерах можно воспользоваться бесплатным Wi-Fi.

В отеле Sea Galaxy Hotel Congress & Spa offers предлагают завтрак «шведский стол», а также обед и ужин по меню. В ресторане отеля работает собственная кондитерская. Гости могут посетить лобби-бар и круглосуточный бар.

В распоряжении гостей 5 конференц-залов вместимостью от 100 до 500 человек , а также 2 банкетных зала, рассчитанные на 200 человек. За дополнительную плату в других отелях можно посетить открытый бассейн с морской водой и частный пляж.
</p>

            </div>
        <div class="column2">
        <p>
           Название - «Адлеркурорт» Цена путевки- 3000 за сутки, Дата начала путевки-01.06.2022 Дата окончания путевки- 22.06.2024 — это первая береговая линия. Санаторий находится практически рядом с морем, поэтому вы будете наслаждаться потрясающим пляжным отдыхом.
Санаторий в Адлере с лечением. Если у вас проблемы со здоровьем, то вы решите их, совместив приятное с полезным. У нас работают высококвалифицированные врачи, которые проводят профилактику и лечение различных систем организма: дыхательной, мочевыделительной, сердечно-сосудистой, пищеварительной, мышечной, репродуктивной, костной и других.
«Адлеркурорт» — это огромный санаторий в Сочи с подогреваемым бассейном с морской водой. Вы сможете извлечь максимум пользы из процедуры купания в открытом бассейне, не выходя за пределы парковой территории.
Беззаботный отдых по системе «всё включено» позволит вам забыть о бытовых проблемах и приятно проводить свой отпуск в Сочи.
«Адлеркурорт» — это санаторий в Сочи у моря с оборудованным пляжем, где есть все самое необходимое для отдыха на берегу: лежаки, зонтики, зоны для принятия солнечных ванн, душ.
        </p>
    </div>

    <div class="text-block">
    <style>

            .text-block {
padding: 20px 10px 100px 20px;
}

        </style>
    <p> </p>
</div>

    <div class="row">

        <div class="column">

            <a href="https://www.metallurg-sochi.ru/"><img src="{% static 'main/img/6_greis.jpg' %}" alt="Альтернативный текст" width="300" height="250"></a>
        </div>

        <div class="column">

            <a href="https://sanatoriy-zelenaya-dolina.ru/"><img src="{% static 'main/img/7_zhemchzhina.jpg' %}" alt="Альтернативный текст" width="300" height="250"></a>

        </div>

        <p>
          Название -  «Санаторий Металлург» Цена путевки- 2500 за сутки, Дата начала путевки-09.06.2022 Дата окончания путевки- 22.06.2024 расположен в центральной части города Сочи, на Курортном проспекте, занимает площадь 5,2 га.
Впервые свои двери для отдыхающих санаторий открыл 1 июля 1956 года.
Здание санатория построено в стиле неоклассицизма («сталинский ампир»), преобладающего в архитектуре в 1930-50 гг.
Одновременно со строительством здания был заложен субтропический парк, который органично вписался в архитектурный ансамбль комплекса.
        Санаторий «Металлург» представляет собой единый архитектурный комплекс, оснащенный лифтом, в здании находятся столовая, лечебная база и номерной фонд.
В 2013 году в санатории была проведена реконструкция номерного фонда, обновлена лечебная база, создан медицинский центр с современным оборудованием, запущены в работу кабинеты со SPA- программами.
Официальная классификация санатория 3*.

В 2019 году, после реконструкции открыт для посещения крытый бассейн с морской водой. Для гостей, проживающих в санатории, посещение бассейна бесплатно с 10:00 до 18:00 (1 час ежедневно, кроме дня заезда и дня выезда, по предварительной записи). После 18:00 посещение платное, гостям санатория предоставляется скидка на абонементы в размере 50%. Для посещения бассейна необходимо иметь допуск от врача (выписывает врач санатория при осмотре), шапочку для плавания, сменную обувь, предметы личной гигиены, полотенце (пляжное полотенце предложено в номере размещения). Допускаются дети с 7 лет и ростом более 120 см в сопровождении взрослых. В бассейне не допускается использование надувных плавательных средств (надувных матрасов, кругов и т.п.).
        </p>

        <p>
          Название -  «Зеленая долина» Цена путевки- 2500 за сутки, Дата начала путевки-10.06.2022 Дата окончания путевки- 24.06.2024- отдых и оздоровление на Черном море
Краснодарский к-р Туапсинский р-н
Лечение Санаторий специализируется на лечении органов дыхания, опорно-двигательного аппарата, сердечно-сосудистой и нервной систем.
Питание  Услуги питания поставлены на высокий уровень и организованы по системе «шведский стол» с разнообразным ассортиментом блюд, приготовленных с любовью и по-домашнему вкусно. Типы питания: BB,  FB. Возможность выбора типа питания позволяет вам самим продумать будущий отдых: будет ли он распланированным по часам или спонтанным.
Для детей  Детские оздоровительные процедуры (от 5 лет), детский клуб «Барабуля», игровые площадки, детские зоны в бассейне и на пляже, детское меню в кафе.
Инфраструктура  Номера категории 4 звезды от стандарта до люкса, открытые спортивные площадки, просторный спортивный зал, современный тренажерный зал, крытый и открытый бассейны, хамам с джакузи и террасой, дровяная баня и купель на пляже, финская сауна, боулинг, бильярд, рестораны и бары, ночной клуб.
Анимация  Ежедневная детская, семейная, спортивная анимация включена в обязательный пакет услуг.
Пляж   Охраняемый мелкогалечный пляж, оборудованный всем необходимым для комфортного отдыха.
Бизнес-туризм Предлагаем полный спектр высококлассных услуг, связанных с организацией и проведением конференций и деловых мероприятий.
        </p>

    </div>


</div>


<div class="features">

    <h5>
            Электронная почта: a624713@gmail.com
        </h5>
  <p>


  </p>
  <p>
    Так же вы можете обратиться на нашу горячую линию
    +7 (800) 800 80 80
  </p>




</div>


    {% endblock %}
</div>
