{% extends 'main/layout.html'  %}

{% block title %}
 Про нас

{% endblock %}

{% block content %}

<div class="features">
        <h2>
            ООО "Центр Хранения Данных"
        </h2>
</div>
<div class="color-text1">
        <p>
            ООО "Центр Хранения Данных" входит в Группу компаний "Ростелеком - Центры обработки данных".
          О компании
Ключевыми направлениями деятельности Ростелеком-ЦОД являются:

1)Развитие инфраструктуры и сервисов ЦОД

2)Развитие импортонезависимой облачной платформы

3)Развитие сервисов по обмену трафиком и доставки контента (CDN)

В рамках одной платформы обеспечивается полный спектр услуг по размещению и обслуживанию информсистем, предоставлению программно-аппаратных средств, обеспечения доступа к сетям, точкам обмена трафиком.
Концентрация компетенций и технических возможностей обеспечивает синергетический эффект в рамках группы, а также максимальную надежность, информационную безопасность и экономическую привлекательность решений для заказчиков.
          Группа компаний "Ростелеком - Центры обработки данных" - управляющая компания центра компетенций ПАО «Ростелеком» по направлениям развития сервисов и инфраструктуры ЦОД, импортонезависимых облачных платформ, услуг обмена трафиком и CDN.
В настоящее время Ростелеком-ЦОД – крупнейший поставщик услуг дата-центров в России, лидер отрасли по количеству стойко-мест. В перспективе компания планирует занять лидирующие позиции на рынке предоставления полного спектра услуг Iaas, SaaS, Paas.
        </p>
  <p>
    ПАО «Ростелеком» — российский провайдер цифровых услуг и сервисов. Предоставляет услуги широкополосного доступа в Интернет, интерактивного телевидения, сотовой связи, местной и дальней телефонной связи и др. Занимает лидирующие позиции на российском рынке высокоскоростного доступа в интернет, платного ТВ, хранения и обработки данных, а также кибербезопасности.

На массовом рынке компания развивает линейку сервисов для семьи, включая базовые услуги связи и цифровые решения для «Умного дома», онлайн-образования, геймеров и др. Также компания занимается созданием экосистем цифровых решений для бизнеса, как для крупных федеральных корпораций, так и для малого и среднего бизнеса.

Выступает исполнителем мероприятий различных государственных программ в области информационных технологий: создание и развитие инфраструктуры электронного правительства (включая портал государственных услуг), телекоммуникационное обеспечение избирательного процесса (функционирование ГАС «Выборы», организация системы видеонаблюдения за выборами), устранение цифрового неравенства, оснащение широкополосным доступом в сеть интернет лечебных учреждений и социально значимых объектов, другие мероприятия. Обладает крупнейшей магистральной сетью связи в стране общей протяжённостью около 500 тысяч км. Является ключевым участником приоритетной национальной программы «Цифровая экономика» и реализует общефедеральные технологические и ИТ-проекты
  </p>


    </div>


{% endblock %}