{% extends 'main/layout.html'  %}
{% load static %}

{% block title %}
Цены
{% endblock %}
{% block content %}
<div>


</div>

<div class="color-text3">
    <h1 >Контакты компании</h1>
</div>
<div class="features7">
<a ><img src="{% static 'main/img/beach-bed.jpg' %}" alt="Альтернативный текст" width="900" height="400"></a>
</div>
<div class="color-text1">
        <h5>
          Цены по южному побережью
Самый солнечный черноморский город Анапа каждый год принимает миллионы туристов. Он входит в топ-5 российских курортов для семейного отдыха. Мягкий климат, Кавказские горы с одной стороны и километры чистых пляжей с другой. Здесь самое теплое море на всем побережье: в летние месяцы вода прогревается до +28 градусов.

Свежий целебный воздух, пропитанный ароматами хвои, минеральные источники и иловые грязи помогают людям с различными заболеваниями. Круглый год пациенты едут в местные санатории, чтобы поправить здоровье.

Несмотря на популярность курорта, цены в Анапе в 2023 году вполне демократичные. Если сравнивать, например, с Сочи, то там семейный отдых обойдется дороже.
        </h5>

        <h5>
           Несомненным плюсом Анапы является большой выбор жилья, а это одна из главных статей расходов. Сэкономить можно, остановившись в частном секторе или в окрестностях: Витязево, Утрише, Сукко. Транспорт между поселками ходит хорошо, так что добраться можно самостоятельно в любую точку.

Для любителей организованных экскурсий каждый год предлагают как традиционные, так и новые маршруты. Киоски, где можно купить билеты, в летний сезон конкурируют между собой. Поэтому не берите в первом попавшемся, сравните цены.

Давайте посчитаем, сколько в целом стоит отдых в Анапе в 2023 году.
        </h5>
    <h5>
        Средние цены за ночь в отеле в Анапе в 2023 году — 2300-2500 рублей. Сразу оговоримся, что самые высокие цены на проживание — в Центральном районе, где расположены песчаные пляжи. Тут же находится большинство санаториев, гостиниц, рынков, магазинов, кафе, а также основные аттракционы и аквапарк. До моря можно дойти за 10 минут.

Однокомнатную квартиру в межсезонье вы найдете за 1700-3000 рублей. Как правило, она рассчитана на 3-4 человек. В период высокого сезона собственники поднимают стоимость на примерно на 500 рублей за сутки. Цена на двухкомнатную квартиру — 2200–5000 рублей. В ней смогут жить 3-5 человек.

Есть предложения трехкомнатных квартир, где разместится компания до 7 человек. Стоимость за ночь — 3000-7000 рублей. Безусловно, кроме отдаленности от моря, на цену жилья влияет наличие мебели, спальных принадлежностей, душа, туалета и оборудование кухни.

    </h5>
    <h5>
        Столовые, кафе и рестораны в Анапе — на каждом углу. В межсезонье открыты не все, а с наступлением тепла проблем, где поесть, точно не будет. Не забываем, что мы на детском курорте, потому здесь масса заведений, где можно заказать сладкие десерты.

В последние годы наибольшим спросом пользуются столовые. Здесь хорошо готовят по приемлемым ценам — 300-350 рублей на человека. Из местной кухни мы обязательно советуем попробовать черноморские мидии и тушеную барабулю. На питание надо откладывать минимум 1000 рублей в сутки на одного отдыхающего. Плюс расходы на фрукты, мороженое и воду. Поход в ресторан на двоих обойдется примерно в 3000-4000 рублей.

Многие туристы останавливаются в частном секторе и готовят сами. Покупать продукты в магазинах и на рынках дешевле.


    </h5>

</div>

<div class="features">

  <p>


  </p>
  <p>
    Так же вы можете обратиться на нашу горячую линию
    +7 (800) 800 80 80
  </p>


    </div>


{% endblock %}