body { background-image: url( ../img/f3.jpg );
    background-attachment: fixed
}

.blockaa
{
margin-left: 500px;
    margin-right: auto;
    width: 6em
}

main .features{
    float: right;
    color: #000000;
    margin-top: 100px;
    text-align: center;
    width: 100%;
}

main .features3{

    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 100%;
}
main .features4{
    text-align: center;
    color: #fff;
    margin:auto
}
main .features5{

    text-align: center;
    color: #fff;
    margin: 5px 100px auto 20px
}

.features6{
    float: none;
    text-align: center;
    color: #fff;
    margin: 50px 100px auto 100px
}

.features7{
    float: right;
    color: #000000;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
}



main .features1{

    color: #fff;
    form: center
    text-align: center;
    width: 100%;
}

main .features1 h1 {font-size: 50px;}
main .features1 p {max-width: 700px; margin: auto}

main .features h1 {font-size: 50px;}
main .features p {max-width: 700px; margin: auto}


.alert-warning{
    float: top;
    clear: both;
    width: 400px;
    margin: 20px 34%;
    text-align: left;
}

.alert-primary{
   float: top;
    clear: both;
    width: 900px;
    margin: 20px 20%;
    text-align: left;
}

.alert-light{
   float: top;
    clear: both;
    width: 900px;
    margin: 20px 20%;
    text-align: left;
}

form {
    margin-left: 10%;
    width: 500px;
    margin-top: 0px;
}



/*
#navbar ul {
  display: none;
  background-color: #f90;
  position: absolute;
  top: 100%;
}
#navbar li:hover ul { display: block; }
#navbar, #navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#navbar {
  height: 30px;
  padding-left: 350px;
  min-width: 660px;
  overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
*/

#navbar li {
  float: top;
  position: relative;
  height: 100%;
}
#navbar li a {
  display: block;
  padding: 6px;
  width: 100px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
#navbar ul li { float: none; }
#navbar li:hover { background-color: #f90; }
#navbar ul li:hover { background-color: #666; }







#navbar1 li {
  float: top;
  position: center;
  height: 100%;
  margin-left: auto;
margin-right: auto;

}
#navbar1 li a {
  position: center;
  display: block;
  padding: 6px;
  width: 100px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
#navbar1 ul li { float: none; }
#navbar1 li:hover { background-color: #f90; }
#navbar1 ul li:hover { background-color: #666; }




/*
код для тестовой страницы
*/

.menu-bar {
  border-radius: 25px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  align-items: center;
  padding: 0 50px;
  margin: 20px 30 30 30;
  justify-content: space-evenly
}
.menu-bar li {
  list-style: none;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  padding: 12px 16px;
  margin: 0 8px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}
.menu-bar li::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 10;
  right: 10;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: 0.8s;
  border-radius: 20px;
}
.menu-bar li:hover {
  color: black;
}
.menu-bar li:hover::before {
  background: linear-gradient(to bottom, #e8edec, #d2d1d3);
  box-shadow: 0px 3px 20px 0px black;
  transform: scale(1.2);
  text-decoration: none;
}

.column3 {
    margin: top;
    float: top;
    width: 50%;
    color: #000000;
    transition: 1s;
}

.wrapper {
    margin-top: 50px;
   display: grid;
   grid-template-columns: repeat(8, 1fr);
   grid-template-rows: repeat(4, 100px);
}
.wrapper1 {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(4, 100px);

}



.column4 {

    width: 25%;
    color: white;
width: 200px;
  height: 140px;
  box-sizing: border-box


}

/* Стили для разделения картинок колонны*/
.column {
    margin: top;
    float: top;
    width: 50%;
    color: white;
    transition: 1s;
}
.column:hover {
    transform: scale(1.2);

}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column1 {
     margin: top;
    float: top;
    width: 33%;
    color: #000000;
    transition: 1s;
}

.column1:hover {
    transform: scale(1.2);

}


.column2 {
     margin: top;
    float: top;
    width: 33%;
    color: #000000;
    transition: 1s;
}








/* Стили для панели навков*/
/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
    width: 100%; /* Full width */
    background-color: #fff; /* Grey background */
}

.skills {
    text-align: right; /* Right-align text */
    padding-right: 20px; /* Add some right padding */
    line-height: 40px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    color: white; /* White text color */
}

.html {width: 90%; background-color: #4CAF50;} /* Green */
.css {width: 80%; background-color: #2196F3;} /* Blue */
.js {width: 65%; background-color: #f44336;} /* Red */
.php {width: 60%; background-color: #808080;} /* Dark Grey */

.color-text{
    color: white;

    text-align: center;
    padding: 20px 10px 15px 200px;
}

.color-text1{
    color: #000000;
    text-indent: 2em;
    text-align: justify;
    padding: 20px 100px 15px 100px;
}
.color-text3{
    color: white;

    text-align: center;

}


/*  стили для страницы about   */


/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.strok {
    color-text:white;
    text-align: justify;
}



.img-reponsive {
display:block;
width:100%;
max-width:100%;
height:auto;
}


.line {
border-bottom: 50px solid #000; /* Параметры линии */
}
