{% extends 'main/layout.html' %}

{% block title %}
Сообщения пользователей
{% endblock %}
{% block content %}
    <div class="features">
        <h1>Сообщения пользователей</h1>
        {% if news %}
            {% for form in news %}
                <div class="alert alert-warning">
                    <p>
                        {{ form.id_user }}<br>
                    </p>
                    <p>
                        {{ form.min_text }}
                    </p>
                    <p>
                        {{ form.full_text }}
                    </p>
                    <p>
                        {{ form.date }}
                    </p>
                </div>
            {% endfor %}
        {% else %}
            <p> Нет записей </p>
        {% endif %}
        <button
             class="btn btn-warning"> о сайте
        </button>

    </div>
<div class="features">

    <h5>
            Электронная почта: a624713@gmail.com
        </h5>

        <p>
            Так же вы можете обратиться на нашу горячую линию
            +7 (800) 800 80 80
        </p>

        </div>
{% endblock %}