{% extends 'main/layout.html'  %}
{% load static %}
{% block title %}
Бронь

{% endblock %}

{% block content %}




<form action="" method="post">
    {% csrf_token %}
<div class="features">
        <h3>Форма заявки на бронирование</h3>
    <h5>В данный момент наша организация осуществляет сотруднечество с рядом санаториев и отелей. Для отправки заявки на бронирование необходимо ввести название отеля и указать данные регистрации. После оформления заявки ожидайте сообщения или звонка от нашего администратора.</h5>
<p>Название - Пансионат Шепси Цена путевки- 2500 за сутки, Дата начала путевки-19.05.2022 Дата окончания путевки- 30.05.2024</p>
<p>Название - Санаторий Мацеста Цена путевки- 3000 за сутки, Дата начала путевки-18.05.2022 Дата окончания путевки- 31.05.2024</p>
<p>Название - Гранд Отель Цена путевки- 2500 за сутки, Дата начала путевки-18.05.2022 Дата окончания путевки- 23.05.2024</p>
<p>Название - Отель СГХК. Цена путевки- 2500 за сутки, Дата начала путевки-18.05.2022 Дата окончания путевки- 31.05.2024</p>
<p>Название - Адлеркурорт Цена путевки- 3000 за сутки, Дата начала путевки-01.06.2022 Дата окончания путевки- 22.06.2024</p>
<p>Название - Санаторий Металлург Цена путевки- 2500 за сутки, Дата начала путевки-09.06.2022 Дата окончания путевки- 22.06.2024</p>
<p>Название - Зеленая долина Цена путевки- 2500 за сутки, Дата начала путевки-10.06.2022 Дата окончания путевки- 24.06.2024</p>

        <img src="{% static 'main/img/7_zhemchzhina.jpg' %}" alt="Альтернативный текст" width="500" height="300">

    <div class="features5">
        <span> {{error}} </span>


    </div>
    </div>
            {% csrf_token %}

<div class="wrapper">

    <div class="column4">

            {{ form.name_tur }}
    </div>
       <div class="column4">
            {{ form.surname_user }}
    </div>
    <div class="column4">
            {{ form.name_user }}
    </div>
    <div class="column4">
            {{ form.surname_2_user }}
    </div>
    <div class="column4">




        <div class="form-group">
           <div class="input-group date"  data-target-input="nearest">
               {{ form.date_z }}
            </div>
        </div>


        <div class="form-group">
           <div class="input-group date"   data-target-input="nearest">
               {{ form.date_v }}


            </div>
        </div>

</div>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/locale/ru.js"></script>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker7').datetimepicker(
                   {   format: 'DD/MM/YYYY HH:mm',
     }

                );
        $('#datetimepicker8').datetimepicker( {  format: 'DD/MM/YYYY HH:mm',
   });




        $("#datetimepicker7").on("change.datetimepicker", function (e) {
            $('#datetimepicker8').datetimepicker('minDate', e.date);
        });
        $("#datetimepicker8").on("change.datetimepicker", function (e) {
            $('#datetimepicker7').datetimepicker('maxDate', e.date);
        });
    });
</script>



        <div class="column4" >

            {{ form.number_user }}
            {{ form.number_human }}



            <div class="form-group">
        </div>




            <button class="btn btn-success" type="submit">Отправить заявку на бронь</button>
        </div>
</div>
<
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker7').datetimepicker({
                    locale: 'ru'
                });
            });
        </script>

    <script type="text/javascript">
            $(function () {
                $('#datetimepicker9').datetimepicker({
                    locale: 'ru'
                });
            });
        </script>
    </div>
</div>



</div>


        </form>




{% endblock %}




