{% extends 'main/layout.html'  %}

{% block title %}
Форма для добавления статей
{% endblock %}

{% block content %}
    <div class="features">

        <h1>Форма для отправки сообщения администратору</h1>
        {# для создания формы тег form #}
        {# первый атребут метод передачи данных, второй страница на которой будут обрабатываться данные из формы #}
        {# action="/news/check" #}
        <form method="post">
        {# коментарий для запуска передачи данных #}
            {% csrf_token %}



            <input id="id_user" type="id_user" readonly="readonly" name="id_user" value="{{ user.username }}">

            {{ form.min_text }}<br>
            {{ form.full_text }}<br>
            {{ form.date }}<br>


            <span> {{error}} </span>
            <button class="btn btn-success" type="submit">Отправить сообщение</button>
        </form>
    </div>
{% endblock %}




