{% extends 'main/layout.html'  %}

{% block title %}
Форма для добавления статей
{% endblock %}

{% block content %}
    <div class="features">
        <h1>Форма для добавления новостей</h1>
        {# для создания формы тег form #}
        {# первый атребут метод передачи данных, второй страница на которой будут обрабатываться данные из формы #}
        {# action="/news/check" #}
        <form method="post">
        {# коментарий для запуска передачи данных #}
            {% csrf_token %}

            {{ form.title }}<br>
            {{ form.anons }}<br>
            {{ form.full_text }}<br>
            {{ form.date }}<br>
            <span> {{error}} </span>
            <button class="btn btn-success" type="submit">Добавить новую новость</button>
        </form>
    </div>
 <div class="features">
        <h1>Сообщения пользователей</h1>
        {% if news %}
            {% for form in news %}
                <div class="alert alert-warning">
                    <p>
                        {{ form.id_user }}<br>
                    </p>
                    <p>
                        {{ form.min_text }}
                    </p>
                    <p>
                        {{ form.full_text }}
                    </p>

                </div>
            {% endfor %}
        {% else %}
            <p> Нет записей </p>
        {% endif %}
        <button
             class="btn btn-warning"> о сайте
        </button>

    </div>
{% endblock %}




