{% extends 'main/layout.html' %}

{% block title %}
{{article.title}}
{% endblock %}
{% block content %}
    <div class="features">
       <h1> {{ article.title }} </h1>
      <p>{{article.date}}</p>
      <p>{{article.full_text}}</p>

        <a href="{% url 'news-detail' article.id %}" class="btn btn-warning">Читать детальнее</a>
    </div>
<div class="features">

    <h5>
            Электронная почта: a624713@gmail.com
        </h5>

        <p>
            Так же вы можете обратиться на нашу горячую линию
            +7 (800) 800 80 80
        </p>

        </div>
{% endblock %}