{% extends 'main/layout.html'  %}

{% block title %}
Форма для добавления статей
{% endblock %}

{% block content %}


{% csrf_token %}

 <div class="features">
        <h1>Сообщения пользователей</h1>
        {% if users_list %}
            {% for form in users_list %}
                <div class="alert alert-warning">
                    <p>
                        {{ form.username }}<br>
                        <a href="{% url 'dialogchat_detail' form.id %}" class="btn btn-warning">Читать детальнее</a>

                        <a href="{% url 'dialogchat_detail_test' form.username %}" class="btn btn-warning">Читать детальнее</a>
                    </p>

                </div>
            {% endfor %}
        {% else %}
            <p> Нет записей </p>
        {% endif %}
        <button
             class="btn btn-warning"> о сайте
        </button>

    </div>
{% endblock %}




