{% extends 'main/layout.html' %}

{% block title %}
Новости на сайте
{% endblock %}
{% block content %}
    <div class="features">
        <h1>Новости на сайте</h1>
        {% if news %}
            {% for el in news %}
                <div class="alert alert-warning">
                    <h2>
                        {{ el.title }}
                    </h2>
                    <p>
                        {{ el.anons }}
                    </p>
                    <a href="{% url 'news-detail_admin' el.id %}" class="btn btn-warning">Читать детальнее</a>
                </div>
            {% endfor %}
        {% else %}
            <p> Нет записей </p>
        {% endif %}


    </div>

<div class="features">

    <h5>
            Электронная почта: a624713@gmail.com
        </h5>
            <a href="{% url 'upload_file'  %}" class="btn btn-warning">Форма загрузки файла</a>
        <p>
            Так же вы можете обратиться на нашу горячую линию
            +7 (800) 800 80 80
        </p>

        </div>
        <p>
            Так же вы можете обратиться на нашу горячую линию
            +7 (800) 800 80 80
        </p>


{% endblock %}