{% extends 'main/layout.html' %}
{% load static %}
{% block title %}
Новости на сайте
{% endblock %}
{% block content %}
    <div class="features4">
        <h1>Поздравляем вы успешно зарегестрировали путевку!</h1>
<img src="{% static 'main/img/dog_see.jpg' %}" alt="Альтернативный текст" width="500" height="300">
        <p>Наш отдел путевок свяжется с вами в ближайшее время для уточнения деталей. </p>
        <p>Так же вы можете ознакомиться с новостями профсоюзной организации.</p>
                <div  justify-content="center" >
                    <a href="{% url 'news_home'  %}" class="btn btn-outline-primary">Перейти на главную страницу</a>
                </div>

    </div>
<div class="features">

    <h5>
            Электронная почта: a624713@gmail.com
        </h5>

        <p>
            Так же вы можете обратиться на нашу горячую линию
            +7 (800) 800 80 80
        </p>

        </div>
{% endblock %}