{% extends 'main/layout.html'  %}
{% load static %}

{% block content %}
{% csrf_token %}
     <div class="features">
<p>Загруженные файлы:</p>
          {% csrf_token %}
        {% for obj in documents %}
            <a color="№ffff00" href="{{ MEDIA_URL}}{{ obj.file }} ">{{ obj.title }}</a>
            {{ obj.file }}<br>
           <small>(Загружено в: {{ obj.uploaded_at }})</small>
         <a href="{% url 'download_file' filename='test.txt' %}">Загрузить PDF</a>


        {% endfor %}

     </div>
{% endblock %}


