{% extends 'main/layout.html'  %}
{% load static %}

{% block content %}
{% csrf_token %}
     <div class="features">
<h3>Документы профсоюзной организации:</h3>
          {% csrf_token %}
        {% for obj in documents %}
         <p>Описание файла</p>
            {{ obj.title }}
         <p>Ссылка для загрузки</p>
            <a color="№ffff00" href="media/{{ obj.file }}"  download="{{ obj.file }}" >Загрузить</a><br>

           <small>(Загружено : {{ obj.uploaded_at }})</small><br>
         {% if user.is_superuser %}
         <a href="{% url 'file_detail' obj.id %}" class="btn btn-warning">Удалить документ</a><br>
         {% else %}
         <p> </p><br>
         {% endif %}
        {% endfor %}

     </div>
{% endblock %}


